header {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: #FFF;
  background-color: #1C1C1C;
}

header img {
  padding: 10px;
  position: absolute;
}

header h1 {
  margin-top: 12px;
  margin-bottom: -3px;
  margin-left: 73px;
  font-family: 'Playfair Display', serif;
}
